.store {
    background: url("../images/store-BG.png") center/cover no-repeat;
    height: 847px;
    padding: 140px 0;
}

.store__content {
    display: flex;
    justify-content: space-between;
}

.store__title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
    padding-top: 151px;
}

.store__desc {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    padding-top: 29px;
}

.store .btn {
    margin-top: 47px;
}

.store__image {
    margin: 0 25px 0 0;
}